
<h1>Greetings</h1>
  
   <ul>
{{#each name}}
  <div class="greetedMsg"><li><a href="/counter/{{this.name}}">{{this.name}} </a></li></div>
 {{/each}}
 </ul>
  
    <a href="/"><button type="button" class="backBtn">Back</button></a>
  